.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
  overflow-x: hidden;
}
tr:nth-child(even) {
  background-color: #f5f6fa;
}

.table tr {
  display: flex;
  justify-content: space-between;
}
.table tr td {
  padding: 0.5rem;
}
